body {
  --color-background: #fff;
  --color-button: #eee;
  --color-gradient: #000;
  --color-cell-font: #000;
  --color-cell-border: #4444;
  --color-cell-hidden: #dcd;
  --color-cell-revealed-gradient-start: #fff;
  --color-cell-revealed-gradient-end: #ffdcff;
  --color-flag-outline: #f00;
  --color-board-outline: #ffdcff;
  --color-level-selection: #eee;
  font-family: sans-serif;
  margin: 10px;
  color: var(--color-cell-font);
  background-color: var(--color-background);
  transition: color 1.5s ease-out, background-color 1s ease-out;
}

.light {
  --color-background: #eeeeee;
  --color-button: #dadada;
  --color-gradient: #fff;
  --color-cell-font: #000;
  --color-cell-border: #4444;
  --color-cell-hidden: #c3c3c3;
  --color-cell-revealed-gradient-start: #fff;
  --color-cell-revealed-gradient-end: #dadada;
  --color-flag-outline: #f00;
  --color-board-outline: #dadada;
  --color-level-selection: #f4f4f4;
}

.sakura {
  --color-background: #ffabda;
  --color-button: #ffabda;
  --color-gradient: #ffc0d9;
  --color-cell-font: #000;
  --color-cell-border: #4444;
  --color-cell-hidden: #e9cddc;
  --color-cell-revealed-gradient-start: #fff3f9;
  --color-cell-revealed-gradient-end: #ffaedb;
  --color-flag-outline: #f00;
  --color-board-outline: #ffaedb;
  --color-level-selection: #ffd6ed;
}

.maple {
  --color-background: #ff5f5f;
  --color-button: #ff5f5f;
  --color-gradient: #ff8364;
  --color-cell-font: #000;
  --color-cell-border: #4444;
  --color-cell-hidden: #f1b7b7;
  --color-cell-revealed-gradient-start: #ffcabc;
  --color-cell-revealed-gradient-end: #ff7474;
  --color-flag-outline: #c30000;
  --color-board-outline: #ff7474;
  --color-level-selection: #ffb09f;
}

.carrot {
  --color-background: #ff8142;
  --color-button: #ff8142;
  --color-gradient: #fe9e63;
  --color-cell-font: #000;
  --color-cell-border: #4444;
  --color-cell-hidden: #e7ccc3;
  --color-cell-revealed-gradient-start: #ffe1ca;
  --color-cell-revealed-gradient-end: #ff9a67;
  --color-flag-outline: #f00;
  --color-board-outline: #ff9a67;
  --color-level-selection: #ffd3bd;
}

.sun {
  --color-background: #ffd13a;
  --color-button: #ffd13a;
  --color-gradient: #ffd27f;
  --color-cell-font: #000;
  --color-cell-border: #4444;
  --color-cell-hidden: #e9d2b5;
  --color-cell-revealed-gradient-start: #ffead7;
  --color-cell-revealed-gradient-end: #ffcf5f;
  --color-flag-outline: #f00;
  --color-board-outline: #ffcf5f;
  --color-level-selection: #fcdfb1;
}

.turtle {
  --color-background: #8dde42;
  --color-button: #abf367;
  --color-gradient: #cee867;
  --color-cell-font: #000;
  --color-cell-border: #4444;
  --color-cell-hidden: #dde9b5;
  --color-cell-revealed-gradient-start: #ffffcf;
  --color-cell-revealed-gradient-end: #8cdd40;
  --color-flag-outline: #f00;
  --color-board-outline: #8cdd40;
  --color-level-selection: #ffffbd;
}

.water {
  --color-background: #27dbff;
  --color-button: #27dbff;
  --color-gradient: #6bf6fd;
  --color-cell-font: #000;
  --color-cell-border: #4444;
  --color-cell-hidden: #fff;
  --color-cell-revealed-gradient-start: #ecfcff;
  --color-cell-revealed-gradient-end: #49e2fd;
  --color-flag-outline: #f00;
  --color-board-outline: #49e2fd;
  --color-level-selection: #9ff5ff;
}

.grape {
  --color-background: #5000b9;
  --color-button: #5000b9;
  --color-gradient: #6e26cc;
  --color-cell-font: #fff;
  --color-cell-border: #4447;
  --color-cell-hidden: #9a8faf;
  --color-cell-revealed-gradient-start: #9858ff;
  --color-cell-revealed-gradient-end: #3b0083;
  --color-flag-outline: #f00;
  --color-board-outline: #3b0083;
  --color-level-selection: #814dd6;
}

.dark {
  --color-background: #313131;
  --color-button: #252525;
  --color-gradient: #494949;
  --color-cell-font: #fff;
  --color-cell-border: #333;
  --color-cell-hidden: #545454;
  --color-cell-revealed-gradient-start: #7d7d7d;
  --color-cell-revealed-gradient-end: #252525;
  --color-flag-outline: #ff6464;
  --color-board-outline: #252525;
  --color-level-selection: #464646;
}

h2 {
  font-size: 1em;
  margin-block-end: 0.5em;
  margin-block-start: 0.7em;
}

button {
  background-color: var(--color-button);
  border: solid 1px;
  border-color: var(--color-cell-border);
  border-radius: 4px;
  color: var(--color-cell-font);
  font-weight: bold;
  transition: color 1.5s ease-out, background-color 1s ease-out, border-color 1s ease-out;
}

input {
  margin-right: 8px;
}

input[type=range] {
  border-radius: 10px; 
  box-shadow: 0 2px 4px 2px #00000030; 
  height: 20px;
  opacity: .8;
  width: 100%;
  -webkit-appearance: none; 
}

input[type=range]::-webkit-slider-runnable-track {
  cursor: pointer;
}

input[type=range]::-moz-range-track {
  cursor: pointer;
}

input[type=range]::-webkit-slider-thumb {
  border: 2px solid #ffffff;
  border-radius: 10px;
  height: 20px;
  width: 24px;
  background: var(--color-background);
  box-shadow: 0 2px 4px 2px #00000088;
  -webkit-appearance: none;
}

input[type=range]::-moz-range-thumb {
  border: 2px solid #ffffff;
  border-radius: 4px;
  height: 20px;
  width: 20px;
  background: var(--color-background);
  box-shadow: 0 2px 4px 2px #00000088;
  -moz-appearance: none;
}

label {
  margin-left: 8px;
}

select {
  text-align: center;
  margin-right: 8px;
}

.gradient-background {
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: -1;
  opacity: 0;
  transition: opacity 1.5s ease-out;
}

.gradient-background-on {
  background: linear-gradient(transparent 0%, var(--color-gradient) 50%, transparent 100%);
  opacity: 1;
  transition: opacity 1.5s ease-out;
}

.fade-in {
  opacity: 1;
  transition: opacity 1.5s ease-out;
}

.clear {
  clear: both;
  content: ""
}

.game {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
}

.game-board-container {
  border: 6px solid var(--color-board-outline);
  border-radius: 10px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
  font-size: 100%;
  margin: 2px auto 32px;
  transition: border-color 1s ease-out;
}

.game-board-cell {
  background: linear-gradient(
    135deg,
    var(--color-cell-revealed-gradient-start),
    var(--color-cell-revealed-gradient-end)
  );
  border: 1px solid var(--color-cell-border);
  border-radius: 2px;
  box-sizing: border-box;
  color: var(--color-cell-font);
  cursor: pointer;
  float: left;
  font-size: 24px;
  line-height: 34px;
  height: 1.75em;
  width: 1.75em;
  padding: 2px;
  opacity: 1;
  text-align: center;
  transition: opacity 0.8s cubic-bezier(0.33, 1, 0.68, 1);
}

.game-info-stats {
  min-height: 20px;
}

.game-info-result {
  min-height: 30px;
}

.game-info-item {
  margin: 20px;
}

.game-info-win {
  font-size: 20px;
  font-weight: bold;
}

.game-f {
  box-shadow: inset 0 0 14px var(--color-flag-outline);
}

.game-m {
  color: #f00;
}

.hidden {
  background: var(--color-cell-hidden);
  opacity: 0.8;
  transition: background-color 1s ease-out;
}

.level-selection {
  background: var(--color-level-selection);
  border-radius: 10px;
  box-shadow: inset 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
  width: max-content;
  display: inline-block;
  padding: 4px;
  transition: background-color 1s ease-out;
}

.level-selection-predefined,
.level-selection-custom {
  margin: 12px 4px;
}

.level-selection-custom-input-fields-container {
  margin: 5px;
}

.level-selection-custom-input-fields-textbox {
  width: 40px;
}

.color-theme-picker-container {
  margin: 20px auto;
  max-width: 600px;
  min-width: 350px;
  width: 50vw;
}

.color-theme-slider {
  width: 100%;
}

.color-slider-labels {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}